<div class="col card p-1">
	<h2 class="mb-05">{{todo.title}}</h2>
	<p class="small muted">Priority: {{todo.priority}}</p>
	{{#each (paragraph todo.description) as |para|}}
		<p class="mt-05">{{para}}</p>
	{{/each}}
	<div class="row sm-12 mt-1">
		<TodoPriority @todo={{todo}} @totalTodos={{totalTodos}} />
		{{!-- {{todo-priority todo=todo totalTodos=totalTodos}} --}}
		<button type="button" class="btn row horizontal-center ml-1 mr-1" onclick={{action 'editTodoFromItems' todo.id}}>Edit</button>
		<button type="button" class="btn row horizontal-center" onclick={{action 'deleteTodoFromItems' todo.id}}>Delete</button>
	</div>
</div>